@page
@model SupermarketWeb.Pages.Usuario.EditModel
@{
    ViewData["Title"] = "Edit";

}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-denger"></div>
            <input type="hidden" asp-for="Users.Id" />
            <div class="form-group">
                <label asp-for="Users.Email" class="control-label"></label>
                <input asp-for="Users.Email" class="form-control" />
                <span asp-validation-for="Users.Email" class="text-denger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users.Password" class="control-label"></label>
                <input asp-for="Users.Password" class="form-control" />
                <span asp-validation-for="Users.Password" class="text-denger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}